include CHANGELOG.md
include credits.html
include LICENSE
include README.md
recursive-include include *.*
recursive-include include_private *.*
recursive-include src *.*
recursive-include third-party *.*
include pyjoulescope_driver/img_alpha.img
include pyjoulescope_driver/img_beta.img
include pyjoulescope_driver/img_stable.img
